@media screen and (max-width: 1035px) {
   .home-section {
      display: block;
   }
   .photo {
      width: 50%;
      height: 60%;
   }
   .text-container {
      margin-top: 5rem;
      margin-left: 0;
      margin-bottom: 3rem;
      color: white;
      text-align: center;
   }

   /* Projects */
   .project-card {
      display: block;
   }
   .project-text {
      width: 80%;
      margin: 2rem auto;
      text-align: center;
   }

   /* about */
   .about-description {
      font-size: 0.7rem;
      padding: 25px;
      margin: 0 auto;
      width: 70%;
      border: 1px solid white;
      box-shadow: 1px 1px 10px gray;
   }

   .contact-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .contact-container > p {
      font-size: 5vw;
   }
}

@media screen and (max-width: 750px) {
   .home-section {
      display: block;
   }
   .photo {
      width: 80%;
      height: 60%;
   }
   .greeting {
      font-size: 1.25rem;
      margin-bottom: 16px;
   }

   .greeting2 {
      font-size: 1.5rem;
      margin-bottom: 16px;
   }
   .name-text {
      color: var(--secondary-color);
      font-size: 2rem;
   }
   .about-description {
      width: 95%;
   }
   .nav-links {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      flex-grow: 1;
      flex-wrap: wrap;
   }
   .download-cv {
      margin-top: 20px;
   }

   .nav-list {
      display: flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
   }
}
