@media screen and (max-width: 1035px) {
   .home-section {
      display: block;
   }
   .photo {
      width: 50%;
      height: 60%;
   }
   .text-container {
      margin-top: 5rem;
      margin-left: 0;
      margin-bottom: 3rem;
      color: white;
      text-align: center;
   }

   /* Projects */
   .project-card {
      display: block;
   }
   .project-text {
      width: 80%;
      margin: 2rem auto;
      text-align: center;
   }

   /* about */
   .about-description {
      font-size: 0.7rem;
      padding: 25px;
      margin: 0 auto;
      width: 70%;
      border: 1px solid white;
      box-shadow: 1px 1px 10px gray;
   }

   .contact-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .contact-container > p {
      font-size: 5vw;
   }

   .project-text {
      padding-bottom: 20px;
      border-bottom: 1px solid gray;
   }
}

@media screen and (max-width: 750px) {
   .header {
      display: flex;
      justify-content: space-between;
   }
   .home-section {
      display: block;
      padding: 32px 10px;
   }
   .photo {
      width: 80%;
      height: 60%;
   }
   .greeting {
      font-size: 1.25rem;
      margin-bottom: 16px;
   }

   .greeting2 {
      font-size: 1.5rem;
      margin-bottom: 16px;
   }
   .name-text {
      color: var(--secondary-color);
      font-size: 2rem;
   }
   .about-description {
      width: 100%;
   }
   .nav-links {
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      flex-grow: 1;
      flex-wrap: wrap;
   }
   .download-cv {
      display: none;
      margin-top: 20px;
   }

   .nav-list {
      display: flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
   }
   .social-links > a > img {
      width: 30px;
   }
   .tech-icon {
      width: 30px;
   }
   .project-description {
      font-size: 0.85rem;
   }

   /* HAMBURGER */

   /* HAMBURGER */
   .hamburger {
      position: relative;
      margin-top: 30px;
      display: block;
      width: 35px;
      height: 25px;
      z-index: 99;
      cursor: pointer;
      appearance: none;
      background: none;
      outline: none;
      border: none;
   }

   .hamburger .bar,
   .hamburger::after,
   .hamburger::before {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
   }

   .hamburger.is-active:before {
      transform: rotate(-45deg) translate(-8px, 6px);
   }

   .hamburger.is-active:after {
      transform: rotate(45deg) translate(-9px, -8px);
   }

   .hamburger.is-active .bar {
      opacity: 0;
   }

   .mobile-nav {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      min-height: 100vh;
      display: block;
      z-index: 98;
      background-color: #1e3a8a;
      padding-top: 120px;
      transition: 0.4s;
   }

   .mobile-nav.is-active {
      left: 0;
   }
   /* .mobile-na.is-active {
   left: 0;
} */

   .mobile-nav ul li a {
      display: block;
      text-align: center;
      margin-bottom: 16px;
      padding: 16px;
      color: #fff;
   }

   .mobile-nav ul li a:hover {
      color: var(--secondary-color);
   }

   .mobile-nav .cv .mobile-btn {
      display: block;
      text-align: center;
      margin: 16px auto;
      color: #000;
   }

   .cv {
      text-align: center;
      margin-top: 30px;
   }

   .typed-text {
      font-size: 1.3rem;
      font-weight: 400;
   }

   li {
      list-style: none;
   }
}

@media screen and (min-width: 1600px) {
   #svg-container {
      min-height: 1400px;
   }

   .home-section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 950px;
      text-align: center;
      padding: 32px;
   }
}
